.button{
    display: flex;
    align-items: center;
    margin-right: .7rem;
    background-color: black;
    color: white;
    border: none;
    width: 7rem;    
    height: 2rem;
    font-size: 19px;
}

.button:hover{
    text-shadow: 3px 3px 13px #FF0000;
    color: white;
}

.ul_div{
    background-color: rgba(229, 228, 193, 0.763);
    color: black;
    min-height: 30px;
}

li{
    height: 30px;
    display: flex;
    align-items: center;
}

.count_div{
    margin-bottom: 0px;
    padding-bottom: 0px;
    color: rgb(229, 228, 193);
    font-size: 1.2rem;
}